html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.darkmode--activated .bg-light {
  background-color: #343a40!important
}
.darkmode--activated .text-dark {
  color: #DCD8D4!important
}
.darkmode--activated .btn-darkmode {
  background-color: #DCD8D4!important;
  color: #000!important
}
.darkmode--activated .border-dark {
  border-color: #DCD8D4!important;
}
.darkmode--activated .inputfield {
  background-color: #181A1B!important;
  color: #fff!important
}
