{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="/static/css/signin.css">
<body class="text-center">
{% endblock %}
{% block content %}
<form class="form-signin" method="POST" action="/register">
  <img class="mb-4" src="/static/favicon.ico" alt="TickTalk" width="150" height="150">
  <input type="username" style="border-top-left-radius:1;border-top-right-radius:1;border-bottom-right-radius:0;border-bottom-left-radius:0;margin-bottom:-1px;" name="username" class="form-control" placeholder="Username" required autofocus>
  <input type="email" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;margin-bottom:-1px;" name="email" class="form-control" placeholder="Email Address" required>
  <input type="password" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;margin:0;margin-bottom:-1px;" name="password" class="form-control" placeholder="Password" required>
  <input type="password" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:1;border-bottom-left-radius:1;margin:0;margin-bottom:-1px;" name="confirm-password" class="form-control" placeholder="Confirm Password" required>
  <br>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
  <br>
  <label class="h5 mb-3 font-weight-normal">Already Registered?</label>
  <a href="/login" style="text-decoration:none;"><button class="btn btn-lg btn-dark btn-block" type="button">Login</button></a>
</form>
{% endblock %}