{% extends "signin.html" %}
{% block form %}
<form class="form-custom" method="POST" action="/register">
  <img class="mb-4" src="/static/favicon.ico" alt="TickTalk" width="150" height="150">
  <h3>Register</h3>
  <br>
  <input type="text" name="username" class="form-control inputfield input-username margin-bottom-null" placeholder="Username" required autofocus>
  <input type="email" name="email" class="form-control inputfield input-mid" placeholder="Email Address" required>
  <input type="password" name="password" class="form-control inputfield input-mid margin-null" placeholder="Password" required>
  <input type="password" name="confirm-password" class="form-control inputfield input-password margin-bottom-null" placeholder="Confirm Password" required>
  <br>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
  <br>
  <label class="h5 mb-3 font-weight-normal">Already Registered?</label>
  <a class="btn btn-lg btn-dark btn-block nodecoration" href="/login">Login</a>
</form>
{% endblock %}