{% extends "home.html" %}
{% block content %}
<div class="row card-deck">
  {% for i in range(1,no_rooms+1) %}
  <div class="col-xs-6 col-md-4 col-lg-2">
    <div class="card text-dark border-dark outline-dark bg-light mb-3 cardstyle">
      <div class="card-body">
        <h5 class="card-title">Room {{ room_ids[i-1] }}</h5>
        <div class="card-text">  
          <div>Total Members: {{ members[i-1] }}</div>
          <div>Total Messages: {{ messages[i-1] }}</div>
          <br>
          <div>
            {% if joined[i-1] == 1 %}
            <a href="/room/{{ i }}" class="btn btn-dark btn-darkmode card-link">View</a>
            <a href="/room/leave/{{ i }}" class="btn btn-dark btn-darkmode card-link">Leave</a>
            {% else %}
            <a href="/room/join/{{ i }}" class="btn btn-dark btn-darkmode card-link">Join</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-xs-6 col-md-4 col-lg-2">
    <div class="card text-dark border-dark outline-dark bg-light mb-3 cardstyle">
      <div class="card-body">
        <h5 class="card-title">Create Room</h5>
        <div class="card-text">  
          <br>
          <div>
            <a href="/room/create" class="btn btn-dark btn-darkmode card-link">Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
