{% extends "home.html" %}
{% block content %}
<div class="row card-deck">
  {% for i in range(1,13) %}
  <div class="col-xs-6 col-md-4 col-lg-2">
    <div class="card text-dark border-dark outline-dark bg-light mb-3 cardstyle">
      <div class="card-body">
        <h5 class="card-title"> Room {{ i }} </h5>
        <div class="card-text">  
          <div>Total Members: {{ total_members }}</div>
          <div>Total Messages: {{ total_messages }}</div>
          <br>
          <div>
            {% if user_joined == 1 %}
            <a href="/room/{{ i }}" class="btn btn-dark btn-darkmode card-link">View</a>
            {% else %}
            <a href="/room/{{ i }}" class="btn btn-dark btn-darkmode card-link">Join</a>
            {% endif %}
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
