{% extends "home.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/settings.css">
<h3 class="text-center" style="padding-top:150px;">Change Password</h3>
<div class="settings-container">
  <form class="form-settings" method="POST" action="/settings">
    <input type="password" style="border-top-left-radius:1;border-top-right-radius:1;border-bottom-right-radius:0;border-bottom-left-radius:0;margin-bottom:-1px;" name="old_password" class="form-control" placeholder="Old Password" required autofocus>
    <input type="password" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;margin-bottom:-1px;" name="new_password" class="form-control" placeholder="New Password" required>
    <input type="password" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:1;border-bottom-left-radius:1;margin:0;" name="confirm_password" class="form-control" placeholder="Confirm New Password" required>
    <br>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Change Password</button>
  </form>
</div>
{% endblock %}